@import '../globals/_variables';
@import '../globals/_fonts';
@import '../globals/_mixins';

.search_container {
    position: fixed;
    width: 99.5%;
    margin-left: 0.25%;
    top: 0;
    background: $white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
    min-height: 40vh;
    z-index: 9999;
    .icon_close_container {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        padding: 1rem 2rem;
        .close_icon {
            cursor: pointer;
            font-size: 2.5rem;
            &:hover {
                filter: brightness(1.5);
            }
        }
    }
    .logo_search {
        width: 60%;
        margin: 0.25rem auto;
        display: flex;
        justify-content: center;
        @include tablet {
            width: 30%;
        }
    }
    .input_container {
        border-bottom: 1px solid $greyLight;
        margin: 0 auto;
        position: relative;
        width: 85%;
        @include tablet {
            width: 75%;
        }
        @include desktop {
            width: 50%;
        }
        .icon_search {
            position: absolute;
            font-size: 1rem;
            top: 59%;
            left: 0.5%;
            color: #7c7c7c;
            cursor: pointer;
            @include tablet {
                top: 45%;
                font-size: 2rem;
                left: 0.5%;
            }
        }
        .inputtext {
            color: $black;
            font-size: 1rem;
            padding: 1rem 2.5rem 0.25rem 1.5rem;
            margin: 1rem 0 5px;
            width: 100%;
            border: none;
            @include tablet {
                padding: 1rem 2.5rem 0.25rem 3.5rem;
                font-size: 2rem;
            }
        }
        .icon_back {
            position: absolute;
            font-size: 1rem;
            top: 57%;
            right: 2.5%;
            color: #7c7c7c;
            cursor: pointer;
            &:hover {
                filter: brightness(1.25);
            }
            @include tablet {
                font-size: 2rem;
                top: 43%;
                right: 1.5%;
            }
        }
        @include tablet {
            margin: 0 auto;
        }
    }
    .no_results_container {
        margin: 2rem auto 2rem;
        position: relative;
        width: 85%;
        text-transform: uppercase;
        font-family: $boldFont;
        font-weight: bold;
        padding-left: 2rem;
        & p {
            text-transform: capitalize;
        }
        @include tablet {
            width: 75%;
        }
        @include desktop {
            width: 50%;
        }
    }
}

@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-100%);
    }
  }

  .slide-down-enter {
    animation: slideDown 0.3s ease-in-out forwards !important;
  }

  .slide-up-exit {
    animation: slideUp 20s ease-in-out forwards !important;
  }