@font-face {
  font-family: 'Mayoral';
  src: local('Mayoral'),
       url('/fonts/Branding-Pro-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Mayoral-Light';
  src: local('Mayoral-Light'),
       url('/fonts/Branding-Pro-Light.otf') format('otf');
}

@font-face {
  font-family: 'Mayoral-Bold';
  src: local('Mayoral-Bold'),
       url('/fonts/Branding-Pro-Bold.otf') format('otf');
}

$mainFont: 'Mayoral', Arial, sans-serif;
$lightFont: 'Mayoral-Light', Arial, sans-serif;
$boldFont: 'Mayoral-Bold', Arial, sans-serif;
